*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maillist{

  min-height: 50%;
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
